
/** Documentation

    Cakewell Backend Stylesheet

    Last Update: $date$
    Author: Tom at klenwell@gmail.com

    NOTES
**/

div.cakewell-backend {}

div.log-list{
    width:80%;
    overflow-x:auto;
    font-family:monospace;
    font-size:12px;
    border:2px solid #ccc; border-width:2px 0;
}
div.log-list div.line {
    border-bottom:1px solid #ccc;
    padding:2px 4px;
}
div.log-list div.odd {
    background-color:#eee;
}
