
/** Documentation **/
/*______________________________________________________________________________

Klenwell Stylesheet Template

Last Update: $date$
Author: Tom at klenwell@gmail.com

NOTES
A basic template for stylesheets.

______________________________________________________________________________*/


/* Settings
______________________________________________________________________________*/

body { font-family:sans-serif; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
p, pre, blockquote, ul, ol, dl, address { margin: .5em 0; padding: 0; }
ul li { list-style:none; margin-left:.5em; }
dd, blockquote { margin-left: .5em; }
form, fieldset { margin: 0; padding: 0; } 
form label { cursor: pointer; } fieldset { border: none; }
input, select, textarea { font-size: 100%; }
table { border-collapse:collapse; } td { vertical-align:top; }
.left { float:left; } .right { float:right;}
.clear { clear:both; }

/* samples */
#sample_background_image {
 background-image:url('path/image.jpg');
 background-position: 20% center;
 background-repeat: no-repeat;
}


/** References **/
/*______________________________________________________________________________

  CSS Reference (w3schools.com)
  http://www.w3schools.com/css/default.asp
  
  Jigsaw CSS Validator (w3.org)
  http://jigsaw.w3.org/css-validator/
  
  World Wide Web Consortium Home Page (w3.org)
  http://www.w3.org/

  Some Font-Family Recommendations:
    font-family:sans-serif;
    Arial, Helvetica, sans-serif;
    "Trebuchet MS", Helvetica, sans-serif;
    "Century Gothic", Futura, Arial, Verdana, sans-serif;
    Verdana, Geneva, sans-serif;

    font-family:serif;
    "Palatino Linotype", "Book Antiqua", Palatino, serif;
    "Times New Roman", Times, serif
    
    font-family:monospace;
    "Lucida Console", Monaco, monospace;
    "Courier New", Courier, monospace

______________________________________________________________________________*/
